// Color variables
//////////////////

// Hex
$bootstrap-blue-color: #33b5e5;
$bootstrap-orange-color: #ffbb33;

// RGB
$light-border-timeline-color: rgba(100, 100, 100, 0.1);
$transparent-color: rgba(255 , 255, 255, 0);
$icon-color: rgba(100, 100, 100, 0.25);
$circles-gray-bg-color: rgba(200, 200, 200, 0.3);
$paragraphs-bg-color-hover: rgb(243, 243, 243);